.container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "image"
      "title"
      "date"; 
}
.image {
    width: 100%;    
    grid-area: image; 
}
img{

    width: 100%;
}
.title { 

    grid-area: title; 
}
.date { 
    
    grid-area: date; 
}